@font-face {
    font-family: 'veganStyle'; /*a name to be used later*/
    src: url('../fonts/VeganStylePersonalUse-5Y58.ttf'); /*URL to font*/
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

#navbarHome {
    background-color: #2b5a83; !important;
}

#navbarTitle {
    margin-left: 2%;
    font-family: veganStyle;
    font-size: 2.5em;
    color: azure;
}

.panel-footer {
    position:absolute;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: #2b5a83; !important;
}

/*************** DROPING ZONE *************/

#droppingzone {
    /*height: 2000px;*/
    /*background-color: purple;*/
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

.box__dragndrop,
.box__icon
{
	display: none;
}
.box.has-advanced-upload .box__dragndrop
{
	display: inline;
}
.box.has-advanced-upload .box__icon
{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + strong {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + strong,
.inputfile + storng:hover {
    background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}